{% extends "base.html" %}
{% block title %}СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ{% endblock %}
{% block description %}СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ{% endblock %}
{% block content %}

<section class="container py-5 my-lg-5">

	<h2 class="h2 text-center text-md-start mb-lg-4 pt-1 pt-md-4">СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</h2>

	<div class="row align-items-center pb-5 mb-lg-2">
		<div class="col-md-8 text-center text-md-start">
			<p class="mb-md-0">
			Действуя свободно, своей волей и в своем интересе, а также подтверждая свою дееспособность, физическое лицо дает свое согласие Зеленчуку Илье Валерьевичу, зарегистрированный по адресу: <b>198206, г. Санкт-Петербург, улица Новобелицкая, дом 6, корпус 2, 8 этаж, кв. 68</b> (Далее - Оператор) на обработку своих персональных данных со следующими условиями:
			<ol>
				<li>Данное Согласие дается на обработку персональных данных, как без использования средств автоматизации, так и с их использованием</li>
				<li>Согласие дается на обработку следующих моих персональных данных: данные доступные из профиля в социальной сети, с помощью которой происходит авторизация на сайте; адрес электронной почты; никнейм.</li>
				<li>Цель обработки персональных данных: регистрация пользователя на сайте/в приложении.</li>
				<li>В ходе обработки с персональными данными будут совершены следующие действия: сбор, систематизация; хранение; использование; извлечение; блокирование; уничтожение; запись; удаление; накопление; обновление; изменение.</li>
				<li>Персональные данные обрабатываются до удаления пользователем личного кабинета на сайте.</li>
				<li>Согласие может быть отозвано субъектом персональных данных или его представителем путем направления заявления по адресу электронной почты: ilya@hackerdom.ru.</li>
			</ol>
		</div>
	</div>
</section>
{% endblock %}

