{% extends "base.html" %}
{% block title_tag %}<title data-i18n="consentTitle">СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</title>{% endblock %}
{% block description %}<meta name="description" content="СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ" data-i18n-attr="content:consentTitle">{% endblock %}
{% block content %}

<section class="container py-5 my-lg-5">

	<h2 class="h2 text-center text-md-start mb-lg-4 pt-1 pt-md-4" data-i18n="consentTitle">СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</h2>

	<div class="row align-items-center pb-5 mb-lg-2">
		<div class="col-md-8 text-center text-md-start">
			<p class="mb-md-0" data-i18n="consentP1">
			Действуя свободно, своей волей и в своем интересе, а также подтверждая свою дееспособность, физическое лицо дает свое согласие Зеленчуку Илье Валерьевичу, зарегистрированный по адресу: <b>198206, г. Санкт-Петербург, улица Новобелицкая, дом 6, корпус 2, 8 этаж, кв. 68</b> (Далее - Оператор) на обработку своих персональных данных со следующими условиями:
			</p>
			<ol>
				<li data-i18n="consentLi1">Данное Согласие дается на обработку персональных данных, как без использования средств автоматизации, так и с их использованием</li>
				<li data-i18n="consentLi2">Согласие дается на обработку следующих моих персональных данных: данные доступные из профиля в социальной сети, с помощью которой происходит авторизация на сайте; адрес электронной почты; никнейм.</li>
				<li data-i18n="consentLi3">Цель обработки персональных данных: регистрация пользователя на сайте/в приложении.</li>
				<li data-i18n="consentLi4">В ходе обработки с персональными данными будут совершены следующие действия: сбор, систематизация; хранение; использование; извлечение; блокирование; уничтожение; запись; удаление; накопление; обновление; изменение.</li>
				<li data-i18n="consentLi5">Персональные данные обрабатываются до удаления пользователем личного кабинета на сайте.</li>
				<li data-i18n="consentLi6">Согласие может быть отозвано субъектом персональных данных или его представителем путем направления заявления по адресу электронной почты: ilya@hackerdom.ru.</li>
			</ol>
		</div>
	</div>
</section>
{% endblock %}