{% extends "base.html" %}
{% block title %}Учебные курсы{% endblock %}
{% block description %}Учебные курсы по компьютерным сетям с использованием эмулятора Miminet{% endblock %}
{% block content %}

<section class="container py-5 my-lg-5">

	<div class="row justify-content-center pt-1 pb-1 mb-2 mb-md-3 mb-lg-4">
		<div class="col-lg-8 col-md-9 text-center">
			<h2 class="h1 mb-4">Курсы по компьютерным сетям</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-xl-12">
			<article class="card me-xl-5 mb-4">
				<div class="card-body">
					<div class="d-flex justify-content-between mb-3">
						<a href="#" class="badge fs-sm text-white bg-success text-decoration-none">Бесплатно</a>
					</div>
					<h3 class="h4">
						<a target="_blank" href="https://stepik.org/course/208904/syllabus">Основы компьютерных сетей</a>
					</h3>
					<p class="mb-4">Курс знакомит слушателя с миром компьютерных сетей, как работает ваша домашняя сеть, сеть в кафе или глобальная сеть Интернет. Это базовый курс и он является обязательным перед более глубоким изучением компьютерных сетей. Для лучшего понимания и усваивания материала в курсе содержится множество примеров из веб-эмулятора Miminet. Данный курс читается на мат-мехе СПбГУ.</p>
                			<div class="d-flex align-items-center text-muted">
                  				<div class="fs-sm border-end pe-3 me-3">
			  				<i class="bx bxs-star text-warning"></i>
			  				<i class="bx bxs-star text-warning"></i>
			  				<i class="bx bxs-star text-warning"></i>
			  				<i class="bx bxs-star text-warning"></i>
			  				<i class="bx bxs-star text-warning"></i>
							<span class="fs-sm"> (4.9)</span>
		  				</div>
                  				<div class="d-flex align-items-center me-3">
                    					<span class="fs-sm">11 000 учащихся за год</span>
                  				</div>
                			</div>
              			</div>
            		</article>
		</div>
	</div>
</section>
{% endblock %}

