{% extends "base.html" %}
{% block title %}{{ network.title }}{% endblock %}
{% block description %}Эмуляция компьютерной сети в вебе{% endblock %}
{% block og %}
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Miminet">
    <meta property="og:title" content="{{ network.title }}">
    <meta property="og:description" content="Эмуляция компьютерной сети в вебе">
    <meta property="og:url" content="https://miminet.ru{{ url_for(request.endpoint, guid=network.guid) }}">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:image" content="https://miminet.ru/images/preview/{{ network.preview_uri }}">
{% endblock %}

{% block content %}
<main>
    <section>

        <!-- WorkSpace -->

        <div id="network_scheme" 
             class="position-absolute border bg-white border-white vh-100 vw-100">
        </div>

        <!-- Header -->

        <nav class="navbar">

            {% if current_user.is_authenticated %}

                <a href="https://miminet.ru">
                    <img src="{{ url_for('static', filename='/images/workspace/branding/logo.svg') }}"
                         class="position-absolute start-0 top-0"
                         style="margin: 35px;">
                </a>

                <div class="ws-name-case position-absolute top-0 start-50 translate-middle-x"
                     style="margin-top: 35px;">
                     {% if request.path != url_for('web_network_shared') %}
                        <a class="d-inline nav-link"
                           href="{{ url_for('home') }}">
                           Мои сети
                        </a>
                        <a class="d-inline nav-link"
                           href="#">
                            / 
                        </a>
                     {% endif %}
                     <a class="d-inline nav-link"
                        id="network_title_head"
                        href="{{ url_for('web_network', guid=network.guid) }}">
                        {{ network.title }}
                    </a>
                </div>

                <div class="d-flex position-absolute end-0 top-0"
                     style="margin: 35px;">
                     <a {% if request.path != url_for('web_network_shared') %}
                            class="ws-settings-button"
                        {% else %}
                            class="ws-settings-button disabled"
                        {% endif %}
                        href="#netConfigModal"
                        data-bs-toggle="modal"
                        data-target="#netConfigModal"
                        data-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Настройки сети">
                     </a>
                     <a class="ws-copy-button"
                        data-target="#ModalCopy"
                        data-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Сохранить копию"
                        onclick="CopyNetwork()"
                        style="margin-left: 16px; cursor: pointer;">
                     </a>
                     <a class="ws-share-button"
                        data-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Сеть доступна по URL"
                        onclick="urlCopyButton()"
                        style="margin-left: 16px; cursor: pointer;">
                     </a>
                </div>

            {% else %}

                <a href="https://miminet.ru">
                    <img src="{{ url_for('static', filename='/images/workspace/branding/logo.svg') }}"
                         class="position-absolute start-0 top-0"
                         style="margin: 35px;">
                </a>

                <div class="ws-name-case position-absolute top-0 start-50 translate-middle-x"
                     style="margin-top: 35px;">
                     <a class="nav-link"
                        id="network_title_head"
                        href="#">
                        {{ network.title }}
                     </a>
                </div>

                <a href="{{ url_for('login_index') }}"
                   class="position-absolute end-0 top-0 ws-login-button"
                   style="margin: 35px;">
                </a>

            {% endif %}

        </nav>

        <!-- Menus -->

        <div class="position-absolute start-0 top-50 translate-middle-y"
             style="margin-left: 35px;">
             <div class="ws-menu-devices-name">
                  Меню
             </div>
             <div class="ws-menu-devices">
                <div style="margin-bottom: 8px; margin-top: 8px;">
                    <img class="drag"
                         id="host"
                         src="{{ url_for('static', filename='/images/workspace/devices/host.svg') }}"/>
                    <div class="icon-text">
                        <span data-bs-toggle="popover"
                              data-bs-trigger="hover"
                              data-bs-content="Хост - конечное сетевое устройство.">
                              Хост
                        </span>
                    </div>
                </div>
                <div style="margin-bottom: 8px;">
                    <img class="drag"
                         id="server"
                         src="{{ url_for('static', filename='/images/workspace/devices/server.svg') }}"/>
                    <div class="icon-text">
                        <span data-bs-toggle="popover"
                              data-bs-trigger="hover"
                              data-bs-content="Сервер &mdash;
                                               обслуживает клиентские запросы.">
                              Сервер
                        </span>
                    </div>
                </div>
                <div style="margin-bottom: 8px;">
                    <img class="drag"
                         id="l2_switch"
                         src="{{ url_for('static', filename='/images/workspace/devices/switch.svg') }}"/>
                    <div class="icon-text">
                        <span data-bs-toggle="popover"
                              data-bs-trigger="hover"
                              data-bs-content="Свитч (коммутатор) работает на втором уровне модели OSI.">
                              Свитч (L2)
                        </span>
                    </div>
                </div>
                <div style="margin-bottom: 8px;">
                    <img class="drag"
                         id="l3_router"
                         src="{{ url_for('static', filename='/images/workspace/devices/router.svg') }}"/>
                    <div class="icon-text">
                        <span data-bs-toggle="popover"
                              data-bs-trigger="hover"
                              data-bs-content="Маршрутизатор (роутер, раутер) &mdash;
                                               работает на 3-м уровне модели OSI, позволяет объединять различные сети.">
                              Роутер (L3)
                        </span>
                    </div>
                </div>
                <div style="margin-bottom: 8px;">
                    <img class="drag"
                         id="l1_hub"
                         src="{{ url_for('static', filename='/images/workspace/devices/hub.svg') }}"/>
                    <div class="icon-text">
                        <span data-bs-toggle="popover"
                              data-bs-trigger="hover"
                              data-bs-content="Хаб (концентратор) &mdash;
                                               простейшее сетевое устойство.">
                              Хаб (L1)
                        </span>
                    </div>
                </div>
             </div>
        </div>

        <div class="position-absolute end-0 top-50 translate-middle-y"
             style="margin-right: 35px; height: 552px; pointer-events: none;">
        
             <div class="ws-menu-settings-name"
                  style="pointer-events: all;">
                  Настройки
             </div>
             <div id="config_content"
                  class="ws-menu-settings overflow-auto"
                  style="pointer-events: all;">
                  Выберите устройство, чтобы настроить его.
             </div>
            
        </div>

        <!-- Footer -->

        <div class="position-absolute start-0 bottom-0"
             style="margin: 35px; font-family: 'Montserrat', sans-serif; font-weight: 500;">
             <div id="PacketSlider">
                  <div class="range-slider"
                       data-start-min="0"
                       data-min="0"
                       data-max="100"
                       data-step="1"
                       style="text-align: center;">
                       <input class="form-control range-slider-value-min"
                              type="hidden">
                       <div class="range-slider-ui"
                            id="PacketSliderInput">
                       </div>
                  </div>
                  <small id="NetworkPlayerLabel"
                         class="text-muted"
                         style="color: #222;">
                         Ожидание: 10-30 сек.
                  </small>
             </div>
             <div class="d-flex justify-content-center"
                  id="NetworkPlayer"
                  style="text-align: center;">
                  <button type="button"
                          class="btn btn-primary w-100"
                          id="NetworkRunButton"
                          disabled>
                           Проверка эмуляции 
                  </button>
             </div>
        </div>

        <a href="https://t.me/MimiNetCommunity"
           target="_blank"
           class="position-absolute bottom-0 end-0 ws-ask-link">
            <div id="NetworkRunButtonHelpLabel" class="ws-ask-button">
                Задать вопрос
            </div>
        </a>

        <!-- Designed by Artem Sergeevich Gryaznov. -->

    </section>
</main>

    <div id="config_host"></div>
    <div id="config_hub"></div>
    <div id="config_switch"></div>
    <div id="config_edge"></div>
    <div id="config_router"></div>
    <div id="config_server"></div>
    <div id="config_vlan"></div>
    <div id="config_vxlan"></div>
{% endblock %}

{% block network %}
<script>

    const network_guid = "{{ network.guid }}";
    var network_title = "{{ network.title }}";
    var network_description = "{{ network.description }}";
    var network_zoom = {{ network_config.zoom}};
    var network_pan_x = {{ network_config.pan_x}};
    var network_pan_y = {{ network_config.pan_y}};

    var nodes = {{ nodes | safe }};
    var edges = {{ edges | safe }};
    var jobs = {{ jobs | safe }};
    var packets = {{ packets | safe }};
    var pcaps = {{ pcaps | safe }};
    var ns = null;

    SetNetworkPlayerState({% if simulating %} {% if simulating.ready %} 0 {% else %} {{simulating.id}} {% endif%} {% else %} 0 {% endif%})
    DrawGraph();
</script>

{% endblock %}