{% extends "base.html" %}

{% block title_tag %}
    <title data-i18n="docTitleLogin">Вход/Регистрация в веб-эмулятор</title>
{% endblock %}

{% block description %}
    <meta name="description" content="Эмулятор компьютерной сети для образовательных целей на базе ОС Linux" data-i18n-attr="content:docDescHome">
{% endblock %}

{% block content %}
<section class="vh-100">
	<div class="container py-3 h-100">
		<div class="row d-flex align-items-center justify-content-center h-100">
			<div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
				<h1 class="text-center" data-i18n="welcome">Добро пожаловать!</h1>
				<hr class="my-4">
				<h6 class="text-center mb-4" data-i18n="loginWith">Вход с помощью</h6>
				<div class="row row-cols-1 row-cols-sm-2">
					<div class="col mb-3">
					<!-- Google -->
					<a href="{{ url_for('google_login') }}" class="btn btn-icon btn-secondary btn-google btn-lg w-100">
						<i class="bx bxl-google"></i>
					</a>
					</div>
					
					<div class="col mb-3">
					<!-- VKontakte -->
					<a href="{{ url_for('vk_login') }}" class="btn btn-icon btn-secondary btn-vk btn-lg w-100">
						<i class="bx bxl-vk"></i>
					</a>
					</div>
					
					<div class="col mb-3">
					<!-- Yandex -->
					<a href="{{ url_for('yandex_login') }}" class="btn btn-icon btn-secondary btn-yandex btn-lg w-100">
						<img src="{{ url_for('static', filename='images/yandex_icon.png') }}"
						style="width: 30px; height: 30px;" />
					</a>
					</div>
					
					<div class="col mb-3">
					<!-- Telegram -->
					<script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-login="Miminet_bot"
						data-size="large" data-radius="5" data-onauth="onTelegramAuth(user)" data-request-access="write">
					</script>
					<script type="text/javascript">
						function onTelegramAuth(user) {
							var fullName = user.first_name;

							if (user.last_name) {
								fullName += ' ' + user.last_name;
							}

							var message = 'Вы авторизовались в приложении как ' + fullName + ' (' + (user.username ? '@' + user.username : '') + ')';
							alert(message);
							window.location.href = "{{ url_for('tg_callback') }}?user=" + encodeURIComponent(JSON.stringify(user));
						}
					</script>
					</div>
				</div>

				<p class="fs-sx text-muted text-center mb-md-0" data-i18n="consentAgreement">Регистрируясь, я даю <a href="{{ url_for('cookie_consent') }}">согласие на обработку данных</a>.</p>

			</div>
		</div>
	</div>
</section>
{% endblock %}
