<script src="{{ url_for('static', filename='/js/jquery-3.6.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='/js/jquery-ui.min.js') }}"></script>

<section class="container" style="display: flex; flex-direction: column; margin-top: 48px; padding-top: 48px">
    <div class="row"
         style="display: flex; flex-wrap: nowrap; justify-content: space-between; align-items: flex-start; width: 100%; margin-bottom: 16px;">
        
        {# Timer and counter #}
        <div class="col-auto d-flex align-items-center" 
             style="font-size: 24px; opacity: 85%; white-space: nowrap; align-self: center; gap: 16px;">
            <p id="counter" style="margin: 0;">Вопрос <span id="currentQuestion">1</span> из <span id="totalQuestions">10</span></p>
            <span id="timer" style="display: inline-block; width: 80px; text-align: center;">00:00:00</span>
        </div>

        {# Task text #}
        <div class="col" style="flex: 1; padding: 0 16px; display: flex; justify-content: center;">
            <div class="practice-question-text"
                 style="max-height: 125px; overflow-y: auto; border: 1px solid #ddd; padding: 8px; border-radius: 4px; width: auto; min-width: fit-content; 
                    max-width: 100%; text-align: center;">
                <div class="text-black m-0" id="question_text" style="font-size: 20px;">{{ question.question_text }}</div>
            </div>
        </div>

        {# Finish button #}
        <div class="col-auto" style="align-self: flex-start;">
            <button name="finishQuiz" aria-label="Завершить тест" class="btn btn-outline-danger btn-icon"
                    data-toggle="tooltip" data-bs-placement="right" title="Завершить тест">
                <i class="bx bx-x fs-4 mx-1"></i>
            </button>
        </div>
    </div>
</section>


<main>
    <section class="pb-5 mb-5">
        <div class="container pb-3 h-100">
            <div class="row flex-nowrap" id="practice_network">
                <div id="side_menu" class="col-auto col-lg-2 col-md-3 col-xl-2 px-sm-2 px-0 bg-white"
                     style="height: 80vh;">
                    <h5 class="pb-2 ps-2 ">Устройства</h5>
                    <div class="row">
                        <div class="col-sm-6 mb-3 text-center">
                            <img class="drag" id="l2_switch"
                                 src="{{ url_for('static', filename='/images/l2_switch.png') }}" alt="Switch"/>
                            <div class="icon-text">
                                        <span data-bs-toggle="popover" data-bs-trigger="hover"
                                              data-bs-content="Свитч (коммутатор) работает на втором уровне модели OSI.">Свитч (L2)</span>
                            </div>
                            <div id="l2_switch_counter"></div>
                        </div>
                        <div class="col-sm-6 mb-3 text-center">
                            <img class="drag" id="host"
                                 src="{{ url_for('static', filename='/images/host.png') }}" alt="Host"/>
                            <div class="icon-text pt-2">
                                        <span data-bs-toggle="popover" data-bs-trigger="hover"
                                              data-bs-content="Хост - конечное сетевое устройство.">Хост</span>
                            </div>
                            <div id="host_counter"></div>
                        </div>
                        <div class="col-sm-6 mb-3 text-center ">
                            <img class="drag" id="l1_hub"
                                 src="{{ url_for('static', filename='/images/hub.png') }}" alt="Hub"/>
                            <div class="icon-text">
                                        <span data-bs-toggle="popover" data-bs-trigger="hover"
                                              data-bs-content="Хаб (концентратор) &mdash; простейшее сетевое устойство.">Хаб (L1)</span>
                            </div>
                            <div id="l1_hub_counter"></div>
                        </div>
                        <div class="col-sm-6 mb-3 text-center">
                            <img class="drag" id="l3_router"
                                 src="{{ url_for('static', filename='/images/l3_router.png') }}" alt="Router"/>
                            <div class="icon-text">
                                        <span data-bs-toggle="popover" data-bs-trigger="hover"
                                              data-bs-content="Маршрутизатор (роутер, раутер) &mdash; работает на 3-м уровне модели OSI, позволяет объединять различные сети.">Роутер (L3)</span>
                            </div>
                            <div id="l3_router_counter"></div>
                        </div>
                        <div class="col-sm-6 mb-3 text-center">
                            <img class="drag" id="server"
                                 src="{{ url_for('static', filename='/images/server.png') }}" alt="Server"/>
                            <div class="icon-text">
                                        <span data-bs-toggle="popover" data-bs-trigger="hover"
                                              data-bs-content="Сервер &mdash; обслуживает клиентские запросы.">Сервер</span>
                            </div>
                            <div id="server_counter"></div>
                        </div>

                        <hr class="mb-4">

                        <div class="col-12 text-center" id="NetworkPlayerDiv">
                            <div class="d-flex justify-content-center" id="NetworkPlayer">
                                <button type="button" class="btn btn-primary w-100" id="NetworkRunButton"
                                        disabled>
                                    Эмулировать
                                </button>
                            </div>
                            <div class="pb-4" id="PacketSlider">
                                <div class="range-slider pt-3" data-start-min="0" data-min="0" data-max="100"
                                     data-step="1">
                                    <div class="range-slider-ui mt-0 mb-2" id="PacketSliderInput"
                                         style="display: none"></div>
                                    <input class="form-control range-slider-value-min" type="hidden">
                                </div>
                                <small id="NetworkPlayerLabel" class="text-muted text-center">Ожидание 10-30
                                    сек.</small>
                            </div>
                        </div>
                        
                        <div class="text-center mt-0 my-3" id="scoreDisplay" style="display: none;">
                            <p class="fs-5">Вы набрали <span id="score">0</span> баллов
                                {% if not is_exam %}
                                <i id="hintIcon" class="bx bx-help-circle text-muted" style="cursor: pointer;"></i>
                                {% endif %}
                            </p>
                        </div>
                        
                        <div id="hintModal" class="modal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Подсказки</h5>
                                    </div>
                                    <div class="modal-body">
                                        <p id="hintsContainer"></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="networkConfigrationCancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                    </div>
                                </div>
                            </div>
                        </div>                                             
                        
                        {# Control buttons #}
                        <div class="card-body d-flex justify-content-center" style="padding: 0 12px 0 12px">
                            <button name="answerQuestion" class="btn btn-primary" disabled>Ответить</button>
                            <button name="nextQuestion" class="btn w-100 px-0" hidden>Следующий вопрос</button>
                            <button name="seeResults" class="btn w-100 px-0"
                                    style="word-wrap: break-word;white-space: initial;" hidden></button>
                        </div>

                        {# Explanation #}
                        <div class="card-body d-flex">
                            <div class="container" id="explanation"
                                 style="margin: 24px 8px 24px 0; display: flex"
                                 hidden></div>
                        </div>
                    </div>
                </div>

                <div class="col py-1 px-1 bg-light">
                    <div id="network_scheme" class="border bg-white border-primary h-100 w-100"></div>
                </div>

                <div class="col-auto col-lg-2 col-md-3 col-xl-2 px-sm-2 px-0 pt-2 bg-white">
                    <div id="config_content"><span>Тут будут настройки устройств. Выделите любое на схеме.</span></div>
                    <div id="config_content_save" style="display: none;"></div>
                </div>
            </div>
        </div>
    </section>
</main>

<div id="config_host"></div>
<div id="config_hub"></div>
<div id="config_switch"></div>
<div id="config_edge"></div>
<div id="config_router"></div>
<div id="config_server"></div>
<div id="config_vlan"></div>

<script>
    const practiceQuestion = JSON.parse('{{ question.practice_question | replace("'", '"') | safe }}')

    const hintIcon = document.getElementById("hintIcon");
    if (hintIcon) {
        hintIcon.addEventListener("click", function() {
            var hintModal = new bootstrap.Modal(document.getElementById("hintModal"));
            hintModal.show();
        });
    }
</script>
<script src="/quiz/practice_question_scripts.js"></script>
<script src="/quiz/drop_node.js"></script>
