{% extends "quiz/networkBase.html" %}
{% block title %}{% endblock %}
{% block description %}Сетевой тренажер для обучения компьютерным сетям{% endblock %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js" integrity="sha512-LhccdVNGe2QMEfI3x4DVV3ckMRe36TfydKss6mJpdHjNFiV07dFpS2xzeZedptKZrwxfICJpez09iNioiSZ3hA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css" integrity="sha512-hasIneQUHlh06VNBe7f6ZcHmeRTLIaQWFd43YriJ0UND19bvYRauxthDg8E4eVNPm9bRUhr5JGeqH7FRFXQu5g==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js" integrity="sha512-D9gUyxqja7hBtkWpPWGt9wfbfaMGVt9gnyCvYa+jojwwPHLCzUm5i8rpk7vD7wNee9bA35eYIjobYPaQuKS1MQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js" integrity="sha512-e63hJB4/V1RjSesUT4R2oOq433Ip4vU6ZYp1URyeP8o8A3a5W0scjg+42ILnbsK6p5ODWUbR+9rpDOWiRM8jIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>hljs.highlightAll();</script>

    {% if question.question_type == "practice" %}
        {% include "quiz/practiceTask.html" %}
    {% else %}
        {% include "quiz/textTask.html" %}
    {% endif %}

    <script>
        let finishSessionUrl = '{{ url_for('finish_session_endpoint') }}';
        let answerQuestionURL = '{{ url_for('answer_on_session_question_endpoint') }}';
        let answerExamQuestionURL = '{{ url_for('check_network_task_endpoint') }}';
        let getQuestionUrl = '{{ url_for('get_question_by_session_question_id_endpoint') }}';
        let sessionResultUrl = '{{ url_for('session_result_endpoint') }}';
        let getQuestionJsonUrl = '{{ url_for('get_session_question_json') }}';

        const questionType = '{{ question.question_type }}'
        const sessionQuestionId = '{{ session_question_id }}'
    </script>
    <script src="/quiz/session_scripts.js"></script>
{% endblock %}

{% block network %}
    {% if question.question_type == "practice" %}
        <script>
            const fixedJson = practiceQuestion["start_configuration"].replace(/\n/g, '\\n');
            let start_configuration = JSON.parse(fixedJson)
            const network_guid = practiceQuestion["network_guid"];
            let network_title = "Practice Task Net";
            let network_description = ""
            let network_zoom = start_configuration["config"]["zoom"];
            let network_pan_x = start_configuration["config"]["pan_x"];
            let network_pan_y = start_configuration["config"]["pan_y"];

            let nodes = start_configuration["nodes"];
            let edges = start_configuration["edges"];
            let jobs = start_configuration["jobs"];
            let packets = start_configuration["packets"];
            let pcaps = start_configuration["pcap"];
            let ns = null;

            DrawGraph();
        </script>
    {% endif %}
{% endblock %}
