{% extends "base.html" %}
{% block title %}{{ test_name }}{% endblock %}
{% block description %}Сетевой тренажер для обучения компьютерным сетям{% endblock %}


{% block content %}

    <section class="container py-5 my-lg-5">
        <div class="align-items-center justify-content-between">
            <h1 class="me-3"> {{ test_name }}</h1>
        </div>


        {% for section in sections %}
            <article class="card border-0 shadow-sm overflow-hidden mb-4">
                <div class="row g-0">
                    <div class="col-sm-8">
                        <div class="card-body">
                            <h4 class="h4" style="margin-left: 20px;margin-bottom: 4px">
                                {{ section.section_name }}
                            </h4>
                            <p style="margin-left: 40px;margin-bottom: 8px">{{ section.description }}</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card-body d-flex flex-column">
                            <p id="{{ section.section_id }}question"
                               style="text-align: right; margin: 0 40px 8px 0"></p>

                            {% if section.timer != "00:00:00" %}
                                <p id="{{ section.section_id }}timer"
                                   style="text-align: right; margin-right: 40px; "></p>
                            {% endif %}

                            <form id="postStartSession"
{#                                  name="{{ section.section_id }}" #}
                                  method="post"
                                  action="{{ url_for('start_session_endpoint', section_id=section.section_id) }}"
                                  style="align-self: flex-end">
                                <input type="hidden" name="question_index" value="0">
                                <input type="hidden" name="section_name" value="{{ section.section_name }}">
                                <a class="btn btn-outline-primary"
                                   style="margin-right: 8px"
                                   onclick="submitForm(event);">
                                    Начать прохождение
                                </a>
                            </form>

                        </div>
                    </div>
                </div>
            </article>

            <script src="/quiz_scripts.js"></script>
            <script>
                questions = '{{section.question_count}}';
                document.getElementById('{{ section.section_id }}question').innerHTML =
                    questions + ' ' + morph(questions, ['вопрос', 'вопроса', 'вопросов']);

                timer = timeToMinutes('{{section.timer}}');
                document.getElementById('{{ section.section_id }}timer').innerHTML =
                    '&#8776;' + timer + ' ' + morph(timer, ['минута', 'минуты', 'минут']);
            </script>
        {% endfor %}
        <script>
            const endpointUrl = '{{ url_for('get_question_by_session_question_id_endpoint') }}'
            sessionStorage.setItem('test_name', '{{ test_name }}')
        </script>
    </section>
{% endblock %}