{% extends "base.html" %}
{% block title %}{{ test.name }}{% endblock %}
{% block description %}Сетевой тренажер для обучения компьютерным сетям{% endblock %}


{% block content %}

    <section class="container py-5 my-lg-5">
        <div class="align-items-center justify-content-between">
            <h1 class="me-3"> {{ test.name }}</h1>
        </div>

        {% for section in sections %}
            <article class="card border-0 shadow-sm overflow-hidden mb-4">
                <div class="row g-0">
                    <div class="col-sm-8">
                        <div class="card-body">
                            <h4 class="h4" style="margin-left: 20px;margin-bottom: 4px">
                                {{ section.section_name }}
                            </h4>
                            <p style="margin-left: 40px;margin-bottom: 4px">{{ section.description }}</p>
                        </div>
                        <a class="btn btn-outline-primary"
                           href="{{ url_for('get_questions_by_section_endpoint', id=section.section_id) }}"
                           style="margin: 40px; margin-top: 0px">
                            Начать прохождение
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <div class="card-body">
                            <p id="{{ section.section_id }}question"
                               style="text-align: right; margin-right: 40px; margin-top: 20px;"></p>

                            {% if section.timer != "00:00:00" %}
                                <p id="{{ section.section_id }}timer"
                                   style="text-align: right; margin-right: 40px; margin-top: 20px;"></p>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </article>

            <script>
                function morph(int, array) {
                    return (array = array || ['раздел', 'раздела', 'разделов']) && array[(int % 100 > 4 && int % 100 < 20) ? 2 : [2, 0, 1, 1, 1, 2][(int % 10 < 5) ? int % 10 : 5]];
                }

                function timeToMinutes(timeString) {
                    const [hours, minutes, seconds] = timeString.split(':');
                    const totalSeconds = parseInt(hours, 10) * 3600 + parseInt(minutes, 10) * 60 + parseInt(seconds, 10);
                    return Math.ceil(totalSeconds / 60);
                }

                questions = '{{section.question_count}}';
                document.getElementById('{{ section.section_id }}question').innerHTML = questions + ' ' + morph(questions, ['вопрос', 'вопроса', 'вопросов']);
                timer = timeToMinutes('{{section.timer}}');
                document.getElementById('{{ section.section_id }}timer').innerHTML = '&#8776;' + timer + ' ' + morph(timer, ['минута', 'минуты', 'минут']);
            </script>
        {% endfor %}

    </section>
{% endblock %}