{% extends "base.html" %}
{% block title %}{% endblock %}
{% block description %}Сетевой тренажер для обучения компьютерным сетям{% endblock %}

{% block content %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">

    <section class="container" style="margin-top: 48px; padding-top: 48px">
        <div class="row align-items-baseline">
            <div class="col-auto">
                <h1 class="mb-0" id="test_name">{{ test_name }}</h1>
            </div>
            <div class="col-auto text-center">
                <h3 class="mb-0" style="font-weight: normal" id="section_name">{{ section_name }}</h3>
            </div>
        </div>

        <div class="row align-items-baseline" style="margin: 8px 0 0 0; font-size: 24px; opacity: 85%">
            <div class="col-auto">
                <p id="counter"></p>
            </div>
            <div class="col-auto text-center">
                <span id="timer">00:00:00</span>
            </div>
        </div>
    </section>

    <article class="container card border-0 shadow-sm" style="padding: 12px 24px 12px 18px">
        {#        <input type="hidden" name="question" value="{{ question }}">#}
        <div class="card-body p-1">
            <p class="text-black m-0 px-4 py-3" id="question_text"
               style="font-size: 20px">{{ question.question_text }}</p>

            <div class=" border border-1 border-success-subtle"></div>

            {% if question.question_type == "text" %}
                {% if question.text_type == "variable" %}
                    <div></div>
                {% elif question.text_type == "matching" %}
                    <div class="container" style="display: flex">
                        <div class="keys" id="sortContainer" style="flex: 1"></div>
                        <div class="values" style="flex: 1"></div>
                    </div>
                {% elif question.text_type == "sorting" %}
                    <div></div>
                {% endif %}
            {% endif %}
            {#
            <div>
                <div class="left-0 top-0 ">
                    <div class="left-0  bg-success-subtle rounded-circle col-1">
                    </div>
                    <p class="top-0  text-center text-black fs-6 fw-normal font-family-Inter col-10 m-0 px-3 py-2">
                        Вариант 1
                    </p>
                </div>
            </div>#}

            {#<div>
                <div class="left-0 top-0  bg-success-subtle col-12">
                </div>
                <p class=" text-black fs-6 fw-normal font-family-Inter col-5 m-0 px-3 py-2">
                    Верно!
                    <br>
                    И пояснение к ответу
                </p>
            </div>#}
        </div>

        {#TODO: set style#}
        <div class="card-body">
            <button name="nextQuestion" class="btn btn-success">Ответить</button>
            <button name="finishQuiz" class="btn btn-danger">Завершить тест</button>
        </div>
    </article>

    <script src="/quiz/session_scripts.js"></script>
    <script>
        let finishSessionUrl = '{{ url_for('finish_session_endpoint') }}'
        $(function () {

            $('#sortContainer').sortable();

        });

        if ('{{ question.question_type }}' === 'text' && '{{ question.text_type }}' === "matching") {
            const answersString = '{{ question.answers | safe }}';
            const answers = JSON.parse(answersString);
            for (const key in answers) {
                if (answers.hasOwnProperty(key)) {
                    console.log(`${key}: ${answers[key]}`);
                    let keysDiv = document.createElement("div");
                    keysDiv.id = key;
                    keysDiv.classList.add("sortable");
                    keysDiv.textContent = key;

                    let keys = document.querySelector(".keys")
                    keys.appendChild(keysDiv);

                    let valuesDiv = document.createElement("div");
                    valuesDiv.id = answers[key];
                    valuesDiv.textContent = answers[key];

                    let values = document.querySelector(".values")
                    values.appendChild(valuesDiv);
                }
            }
        }
    </script>
{% endblock %}