{% extends "base.html" %}
{% block title %}{% endblock %}
{% block description %}Сетевой тренажер для обучения компьютерным сетям{% endblock %}

{#TODO: при закрытии вкладки завершать сессию и показывать warning #}

{% block content %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">

    <section class="container" style="margin-top: 48px; padding-top: 48px">
        <div class="row align-items-baseline">
            <div class="col-auto">
                <h1 class="mb-0" id="test_name">{{ test_name }}</h1>
            </div>
            <div class="col-auto text-center">
                <h3 class="mb-0" style="font-weight: normal" id="section_name">{{ section_name }}</h3>
            </div>
        </div>

        <div class="row align-items-baseline" style="margin: 8px 0 0 0; font-size: 24px; opacity: 85%">
            <div class="col-auto">
                <p id="counter"></p>
            </div>
            <div class="col-auto text-center">
                <span id="timer">00:00:00</span>
            </div>
        </div>
    </section>

    <article class="container card border-0 shadow-sm" style="padding: 12px 24px 12px 18px">
        <div class="card-body p-1">
            <p class="text-black m-0 px-4 py-3" id="question_text"
               style="font-size: 20px">{{ question.question_text }}</p>

            <div class=" border border-1 border-success-subtle"></div>

            {#TODO: add style#}
            {% if question.question_type == "text" %}
                <div class="container" id="variants"></div>
            {% endif %}
        </div>

        {#TODO: set style#}
        <div class="card-body">
            <button name="nextQuestion" class="btn btn-success">Ответить</button>
            <button name="finishQuiz" class="btn btn-danger">Завершить тест</button>
        </div>
    </article>

    <script src="/quiz/session_scripts.js"></script>
    <script>
        let finishSessionUrl = '{{ url_for('finish_session_endpoint') }}';
        let answerQuestionURL = '{{ url_for('answer_on_session_question_endpoint') }}';
        let getQuestionUrl = '{{ url_for('get_question_by_session_question_id_endpoint') }}';

        {# Make divs with id="sortContainer" sortable#}
        $(() => $('#sortContainer').sortable());

        const answers = '{{ question.answers | replace("'", '"') | safe }}';
        if ('{{ question.text_type }}' === 'variable') {
            const answersParsed = JSON.parse(answers);
            for (let i = 0; i < answersParsed.length; i++) {
                displayVariable(answersParsed[i]['answer_text'], i);
            }
        } else if ('{{ question.text_type }}' === 'matching') {
            $('#variants.container')
                .css({display: "flex"})
                .append(`<div class=keys id=sortContainer style=flex:1></div><div class=values id=rightSide style=flex:1></div>`)
            const answersParsed = JSON.parse(answers);
            for (const item in answersParsed) {
                if (answersParsed.hasOwnProperty(item)) {
                    displayMatching(item, answersParsed[item]);
                }
            }
        } else if ('{{ question.text_type }}' === 'sorting') {
            $('#variants.container')
                .css({display: "flex"})
                .append(`<div class=keys id=sortContainer style=flex:1></div>`)
            const answersParsed = answers.split(' ');
            for (let i = 0; i < answersParsed.length; i++) {
                displaySorting(answersParsed[i]);
            }
        }
    </script>
{% endblock %}