server {
    listen 80;
    server_name quiz.local.tst;

    location / {
        include uwsgi_params;
        uwsgi_pass quiz:80;
    }
}

server {
    listen 80;
    server_name local.tst;

    location / {
        include uwsgi_params;
        uwsgi_pass miminet:80;
    }
}
