server {
    listen 80;

    location /ai/ {
        include uwsgi_params;
        uwsgi_pass miminet:80;
        uwsgi_read_timeout 300;
        uwsgi_send_timeout 300;
    }

    location / {
        include uwsgi_params;
        uwsgi_pass miminet:80;
    }
}
