alembic==1.14.0
beautifulsoup4==4.12.3
cachetools==5.5.0
certifi==2024.12.14
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
dpkt==1.9.8
Flask==3.1.0
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
Flask-Admin==1.6.1
google==3.0.0
google-auth==2.37.0
google-auth-oauthlib==1.2.1
greenlet==3.1.1
idna==3.10
importlib-metadata==8.5.0
importlib-resources==6.4.5
ipaddress==1.0.23
itsdangerous==2.2.0
Jinja2==3.1.4
Mako==1.3.8
MarkupSafe==3.0.2
oauthlib==3.2.2
Pillow==11.0.0
pyasn1==0.6.1
pyasn1-modules==0.4.1
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
six==1.17.0
soupsieve==2.6
SQLAlchemy==2.0.36
urllib3==2.2.3
uuid==1.30
Werkzeug==3.1.3
zipp==3.21.0
celery==5.4.0
kombu==5.4.2
python-dotenv==1.0.1
WTForms==3.2.1
