<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="Илья Зеленчук">
    <title>{% block title %}{% endblock %}</title>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.23.0/cytoscape.min.js"></script>
    <script src="https://unpkg.com/ace-builds@1.4.8/src/ace.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cytoscape-edgehandles@3.6.0/cytoscape-edgehandles.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='icons.js') }}"></script>
    <script src="{{ url_for('static', filename='netfront_f.js') }}"></script>

    <style>
           .active {
               outline: 1px solid red;
           }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="collapseNavbar">
            <ul class="navbar-nav ms-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="">Профиль</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login_index') }}">Вход/Регистрация</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}
</body>

<script>
  const nodes = [
      {
          data: {id: "host_1", label: "host_1" },
          renderedPosition: { x: 745, y:189 },
          classes: ['host'],
          selectable: true,
          config: {
              type : 'host',
              label: "host 1",
          },
          interface: [
              {
                  name: 'iface0',
                  connect: 'edge1',
              }
          ]

      },
      {
          data: {id: "host_2", label: "host_2"},
          renderedPosition: { x: 752, y:415 },
          classes: ['host'],
          selectable: true,
          config: {
              type : 'host',
          },
          interface: [
              {
                  name: 'iface0',
                  connect: 'edge2',
              }
          ]
      },
      {
          data: {id: "host_3", label: "host_3"},
          renderedPosition: {x: 509, y: 302 },
          classes: ['host'],
          selectable: true,
          config: {
              type : 'host',
          },
          interface: [
              {
                  name: 'iface0',
                  connect: 'edge3',
              }
          ]
      },
      {
          data: {id: "l2_switch_1", label: "l2_switch_1"},
          renderedPosition: {x: 670, y:290, },
          classes: ['l2_switch'],
          selectable: true,
          config: {
              type : 'l2_switch',
          }

      }
  ];

  const edges = [
      {
          data: {
              id: 'edge1',
              source: 'l2_switch_1',
              target: 'host_1'
          }
      },
      {
          data: {
              id: 'edge2',
              source: 'l2_switch_1',
              target: 'host_2'
          }
      },
      {
          data: {
              id: 'edge3',
              source: 'l2_switch_1',
              target: 'host_3'
          }
      },
  ];

  DrawGraph(nodes, edges);

</script>

<script src="{{ url_for('static', filename='netfront.js') }}"></script>
<script src="{{ url_for('static', filename='config.js') }}"></script>
</html>