<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KT5XZVF');</script>
<!-- End Google Tag Manager -->

    <link rel="icon" href="{{ url_for('static', filename='/images/favlogo.ico') }}" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="Илья Зеленчук, Зинаида Романова">

    <title>{% block title %}{% endblock %}</title>

    <script src="{{ url_for('static', filename='/js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/cytoscape.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/ace.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/lodash.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/cytoscape-edgehandles.min.js') }}"></script>

    <!-- Vendor Styles -->
    <link rel="stylesheet" media="screen" href="assets/vendor/boxicons/css/boxicons.min.css"/>

    <!-- Main Theme Styles + Bootstrap -->
    <link rel="stylesheet" media="screen" href="assets/css/theme.min.css">

    <!-- Vendor Scripts -->
    <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="assets/vendor/parallax-js/dist/parallax.min.js"></script>
    <script src="assets/vendor/rellax/rellax.min.js"></script>

    <!-- Main Theme Script -->
    <script src="assets/js/theme.min.js"></script>
    <script src="{{ url_for('static', filename='icons.js') }}"></script>
    <script src="{{ url_for('static', filename='netfront_f.js') }}"></script>

    <style>

    </style>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KT5XZVF"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<nav class="header navbar navbar-expand-lg position-absolute navbar-sticky">
    <div class="container">
        <a href="/" class="navbar-brand">
                   <img src="{{ url_for('static', filename='/images/logo.png') }}" width="170" alt="Miminet">
        </a>

        {% if current_user.is_authenticated %}
        <ul class="navbar-nav">
            <li class="nav-item" >
                        <a class="nav-link" href="{{ url_for('home') }}"> Сети</a>
            </li>


                {% if network %}

                   <li class="nav-item">
                        <a class="nav-link active"> / </a>
                    </li>
                    <li class="nav-item">
                        <a id="network_title_head" class="nav-link" href="{{ url_for('web_network', guid=network.guid) }}">{{ network.title }}</a>
                    </li>
        </ul>

        <ul class="navbar-nav">

                    <li class="nav-item">
                        <a {% if request.path != url_for('web_network_shared') %} class="btn btn-outline-primary" {% else %} class="btn btn-outline-primary disabled" {% endif %} href="#netConfigModal" data-bs-toggle="modal" data-target="#netConfigModal">Настройки сети</a>
                    </li>

        </ul>

                {% endif %}

         {% else %}
                {% if request.path != url_for('login_index') %}
                <a href="{{ url_for('login_index') }}" class="btn btn-outline-primary">
                    <i class="bx fs-5 lh-1 me-1"></i>
                    Вход
                </a>
                {% endif %}
        {% endif %}
    </div>
</nav>


{% if network %}
<!-- Net configuration -->
    <div class="modal" id="netConfigModal" tabindex="-1" role="dialog" aria-labelledby="netConfigModalLabel" aria-hidden="true" data-focus-on="input:first">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="netConfigModalLabel">Настройки сети</h5>
                    <button id="networkConfigrationCancelIcon" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="networkConfigrationForm" method="POST" action="">
                        <div class="form-group">
                            <label for="network_title" class="text-sm">Название сети</label>
                            <input type="text" class="form-control form-control-sm" id="network_title" name="network_title" value='{{ network.title }}'>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="networkDeleteButton" type="button" data-toggle="modal" class="btn btn-danger" href="#deleteNetConfirmModal">Удалить сеть</button>
                    <button id="networkConfigrationCancel" type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button id="networkConfigrationSubmit" type="button" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

    <div id="deleteNetConfirmModal" class="modal hide fade" tabindex="-1" role="dialog" data-focus-on="input:first">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="netDeleteModalLabel">Вы точно хотите удалить эту сеть?</h5>
                    <button id="networkDeleteCancelIcon" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="networkDeleteForm" method="POST" action="{{ url_for('delete_network', guid=network.guid) }}">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn" id="networkDeleteCancel">Нет</button>
                    <button type="button" class="btn btn-danger" id="networkDeleteSubmitButton">Да, удалить!</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="noJobsModal" tabindex="-1" role="dialog" aria-labelledby="noJobsModalLabel" aria-hidden="true" data-focus-on="input:first">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="noJobsModalLabel">Что делать?</h5>
                    <button id="noJobsModalCancelIcon" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Зачем симулировать сеть, если она ничего не делает?!</p>
                    <p>В настройках хоста добавьте команду, например, вы можете выполнить команду 'ping' на определенный IP адрес или имя хоста.</p>
                    <p>И не забывайте конфигурировать IP адрес и маску у хостов.</p>
                </div>
                <div class="modal-footer">
                    <button id="noJobsModalSubmit" type="button" class="btn btn-primary">Ок</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% block content %}
{% endblock %}
</body>

<script>
    $(document).ready(function() {
        $("#networkConfigrationCancel").click(function(){
            $('#netConfigModal').modal('hide');
        });

        $("#networkConfigrationCancelIcon").click(function(){
            $('#netConfigModal').modal('hide');
        });

        $("#networkConfigrationSubmit").click(function(){
            network_title = $("#network_title").val();
            UpdateNetworkConfig();
            $('#netConfigModal').modal('hide');
            $('#network_title_head').text(network_title);
        });

        $('#networkConfigrationForm').keypress(function (e) {
            var key = (e.keyCode || e.which);
            if(key == 13 || key == 3){
                network_title = $("#network_title").val();
                UpdateNetworkConfig();
                $('#netConfigModal').modal('hide');
                $('#network_title_head').text(network_title);
                return false;
            }
        });

        $("#networkDeleteButton").click(function(){
            $('#netConfigModal').modal('hide');
            $('#deleteNetConfirmModal').modal('toggle');
        });

        $("#networkDeleteCancelIcon").click(function(){
            $('#deleteNetConfirmModal').modal('hide');
        });

        $("#networkDeleteCancel").click(function(){
            $('#deleteNetConfirmModal').modal('hide');
        });

        $("#networkDeleteSubmitButton").click(function(){
            $("#networkDeleteForm").submit(); // Submit the form
        });

        $("#noJobsModalCancelIcon").click(function(){
            $('#noJobsModal').modal('hide');
        });

        $("#noJobsModalSubmit").click(function(){
            $('#noJobsModal').modal('hide');
        });

        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })

    });
</script>

{% block network %}
{% endblock %}

<script src="{{ url_for('static', filename='netfront.js') }}"></script>
<script src="{{ url_for('static', filename='config.js') }}"></script>
</html>