{% extends "base.html" %}
{% block title %}Веб-симулятор{% endblock %}
{% block description %}Симуляция компьютерной сети в вебе{% endblock %}
{% block content %}

<main>
    <!-- start-->
    <section class="py-5 my-lg-5">
        <div class="container py-5 my-lg-5">
             <div class="row">
                <div class="col-md-4" >
                     <img src="{{ url_for('static', filename='/images/topo.png') }}">
                </div>
                <div class="col-md-8">
                    <div class="text-center">
                        <div class="card-body">
                            <h4 class="card-title">Жми на Старт, чтобы создать свою первую сеть!</h4>
                             <p class="card-text"></p>
                            <a href="{{ url_for('home') }}" class="btn btn-primary btn-lg">Старт</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </section>

    <!-- вторая страница, шаг-->
    <section>
        <div class="container py-3 my-lg-5">
            <div class="steps steps-sm steps-horizontal-md">
  <!-- Step -->
                <div class="step">
                    <div class="step-number">
                        <img class="host" src="{{ url_for('static', filename='/images/pc.png') }}">
                    </div>
                    <div class="step-body">
                        <h5 class="mb-2">Шаг 1</h5>
                        <p class="fs mb-0">Добавь устройства.</p>
                    </div>
                </div>
  <!-- Step -->
                <div class="step">
                    <div class="step-number">
                        <img class="line" src="{{ url_for('static', filename='/images/line.png') }}">
                    </div>
                    <div class="step-body">
                        <h5 class="mb-2">Шаг 2</h5>
                        <p class="fs mb-0">Соедини устройства.</p>
                    </div>
                </div>
  <!-- Step -->
                <div class="step">
                    <div class="step-number">
                        <img class="parameters"  src="{{ url_for('static', filename='/images/parameters.png') }}">
                    </div>
                    <div class="step-body">
                        <h5 class="mb-2">Шаг 3</h5>
                        <p class="fs mb-0">Настрой параметры.</p>
                    </div>
                </div>
  <!-- Step -->
                <div class="step">
                    <div class="step-number">
                        <img class="parameters" src="{{ url_for('static', filename='/images/topo.png') }}">
                    </div>
                    <div class="step-body">
                        <h5 class="mb-2">Шаг 4</h5>
                        <p class="fs mb-0">Запусти с помощью кнопки Симулировать.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

    <div id="config_host"></div>
{% endblock %}