{% extends "base.html" %}
{% block title %}Вход/Регистрация в веб-симулятор{% endblock %}
{% block description %}Симулятор компьютерной сети в вебе{% endblock %}
{% block content %}

<section class="vh-100">
  <div class="container py-3 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="{{ url_for('static', filename='/images/logo.png') }}">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">

        <form>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="form1Example13" class="form-control form-control-lg" />
            <label class="form-label" for="form1Example13">Электронная почта</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="form1Example23" class="form-control form-control-lg" />
            <label class="form-label" for="form1Example23">Пароль</label>
          </div>

          <!-- Submit button -->
            <div class="butt container">
             <div class="row">
                <button type="submit" class="btn btn-primary btn-block" >Вход</button>
             </div>
            </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0 text-muted"> Вход с помощью</p>
          </div>

          <div class="login container">
             <div class="row">
                <div class="col">
                    <a href="{{ url_for('google_login') }}">
                    <img class="google" src="{{ url_for('static', filename='/images/google.png') }}" role="button">
                    </a>
                </div>
                <div class="col">
                    <a href="{{ url_for('login_index') }}">
                    <img class="vk" src="{{ url_for('static', filename='/images/vk.png') }}" >
                    </a>
                </div>
             </div>
          </div>

          <div class="text">
            <a href="!#" class="alter"> Не зарегистрированы? Создай аккаунт </a>
          </div>


        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}