name: Deploy on staging servers

on:
  push:
    branches:
      - 'main'
      
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: staging_environment
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Deploy on staging servers
        uses: appleboy/ssh-action@v1.0.2
        with:
          command_timeout: 20m
          host: "${{ secrets.HOST_1 }},${{ secrets.HOST_2}}"
          port: ${{ secrets.PORT }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          script:
